@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
 
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-heading: var(--font-space-grotesk), sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  --animate-marquee: marquee 30s linear infinite;

  --grid-template-columns-16: repeat(16, minmax(0, 1fr));
  --grid-template-columns-18: repeat(18, minmax(0, 1fr));

}

body {
  background: var(--background);
  color: var(--foreground);
 
  font-family: var(--font-sans);
}


.heading {
  font-family: var(--font-heading);
}